# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
    - master
    - develop
    - greenkeeper/*

pool:
    vmImage: 'ubuntu-latest'

steps:
    - task: DeleteFiles@1
      displayName: 'delete JUnit files'
      inputs:
          SourceFolder: junit
          Contents: 'TEST*.xml'

    - task: NodeTool@0
      inputs:
          versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm ci --legacy-peer-deps
      displayName: 'npm ci (with legacy-peer-deps)'

    - script: |
        sudo apt-get update
        sudo apt-get install -y libatk1.0-0 libatk-bridge2.0-0 libc6 libcairo2 libdbus-1-3 libexpat1 libfontconfig1 libfreetype6 libgbm1 libglib2.0-0 libgtk-3-0 libnspr4 libnss3 libpango-1.0-0 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 libxcursor1 libxdamage1 libxext6 libxfixes3 libxrandr2 libxrender1 libxss1 libxtst6
      displayName: 'install chromium deps (kept for compatibility)'

    - script: |
        # Run Jest unit tests and emit JUnit + coverage reports
        # Use --runInBand to avoid worker isolation issues in CI
        npm test -- --runInBand --reporters=default --reporters=jest-junit --coverage
      displayName: 'unit tests (jest)'
      continueOnError: false

    - task: PublishTestResults@2
      displayName: 'Publish unit test results (JUnit from jest-junit)'
      condition: succeededOrFailed()
      inputs:
          testResultsFormat: JUnit
          testResultsFiles: '**/jest-junit.xml'
          searchFolder: '$(System.DefaultWorkingDirectory)'
          testRunTitle: 'Jest unit tests'

    - task: PublishCodeCoverageResults@1
      displayName: 'Publish code coverage unit test results (if available)'
      condition: succeededOrFailed()
      inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: 'coverage/cobertura-coverage.xml'
          reportDirectory: coverage
          failIfCoverageEmpty: false

    - script: |
          bash <(curl https://codecov.io/bash) -t 7cf9c792-2149-4d0f-a945-b15c35f36eea -f coverage/cobertura-coverage.xml -F adder -F subtractor
      displayName: 'codecov'

    - task: Npm@1
      displayName: 'build package'
      inputs:
          command: custom
          customCommand: run build

    - task: PublishPipelineArtifact@0
      inputs:
          artifactName: 'angular'
          targetPath: 'dist'
